# Ignore everything in the root
/*
/vauthy/*
/vauth/*
.env
/app/.env
/.pytest_cache/
/__pycache__/
/app/__pycache__/
/app/tests/__pycache__/
/app/main/__pycache__/
.coverage
app/tests/load_live_db.py
app/*.pyc
/*.pyc
# Un-ignore these files - it's bit of a clonky way to do it but it's more secure
!app/
!Dockerfile
!docker-compose.yml
!README.md
!requirements.txt
!authy.py
!app/__init__.py
!app/config.py
!app/decorators.py
!app/extensions.py
!app/models.py
!app/errors.py
!app/services.py
!app/assertions.py
!app/main/__init__.py
!app/main/views.py
!app/tests/
!app/tests/fixtures.py
!app/tests/test_api.py
!app/tests/__init__.py
!app/tests/.coveragerc
!.gitignore
!app/.env.example
!app/schemas/
!app/schemas/login.json
!app/schemas/role_schema.json
!app/schemas/user_schema.json
!manage.py
